<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <!-- External Stylesheet -->
        <link rel="stylesheet" href="/assets/css/{{css}}" type="text/css">
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/assets/js/{{javascript}}" type="text/javascript"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
